
@font-face {
    font-family:"ProximaNova-Light";
    src:url("ProximaNova-Light.woff2") format("woff2"),url("ProximaNova-Light.woff") format("woff"),url("ProximaNova-Light.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        